/* Default style */
@import url(default.css);

/* Animations */
@import url(animations.css);

/* Media Queries */

/* For Mobile */
@media screen and (max-width: 768px) {
}

/* For Medium Devices */
@media screen and (min-witdh: 768px) and (max-width: 1024px) {
}

/* For Desktops */
@media screen and (min-width: 1024px) {
    /* Header and Nav */
    nav {
        position: fixed;
        background: var(--purple);
        width: 100%;
        display: flex;
        top: 0;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        list-style: none;
        text-align: center;
    }

    nav ul li a {
        padding: 5px;
        margin: 10px;
        color: var(--white);
        text-decoration: none;
    }

    .logo {
        margin-left: 5%;
    }

    .actions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .actions a {
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        padding: 5px;
        margin: 0px 10px;
        color: var(--white);
    }

    .actions a:nth-child(2) {
        background: var(--white);
        padding: 10px 40px;
        border-radius: 5px;
        color: var(--dark-purple-2);
    }

    header {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 100vh;
        width: 100vw;
        align-items: center;
    }

    .header-fill picture {
        width: 100%;
    }

    .header-fill picture img {
        width: 90%;
    }

    .title-header {
        margin: 0% 0% 0% 5%;
        width: 80%;
    }

    .title-header h2 {
        font-size: 2.3rem;
        margin: 10px 0px;
        color: var(--dark-purple);
    }

    .title-header p {
        margin: 15px 0px;
        font-size: 1.1rem;
    }

    /* Main */
    main .item-in-discovery {
        background-color: var(--purple);
        display: flex;
        padding: 5%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .item-in-discovery h3 {
        font-size: 2.1rem;
        margin: 10px 0px;
        color: var(--white);
    }

    .item-in-discovery p {
        padding: 5% 10%;
        text-align: center;
        font-size: 1.2rem;
        color: var(--white);
    }

    .item-in-discovery picture img {
        width: 200px;
    }

    .we-projects {
        padding: 5%;
        background: var(--dark-purple);
    }

    .information {
        display: flex;
        justify-content: center;
    }

    .information h2 {
        color: var(--white);
        font-size: 2.1rem;
    }

    .items-in-projects {
        padding: 2%;
    }

    .items-in-projects .itemA {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8% 10% 8% 15%;
    }

    .itemA p {
        background-color: var(--dark-purple-2);
        padding: 5%;
        color: var(--white);
        border-radius: 5px;
    }

    .items-in-projects .itemB {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8% 15% 8% 10%;
        flex-direction: row-reverse;
    }

    .itemB p {
        background-color: var(--dark-purple-2);
        padding: 5%;
        color: var(--white);
        border-radius: 5px;
    }

    .info2 h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    /* Copy */
    .copy {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .copy a {
        margin: 0px 0px 0px 5px;
        color: var(--dark-purple-2);
    }
}
